body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.profile-page {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-page h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.profile-page input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.profile-page button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.profile-page button:hover {
  background-color: #0056b3;
}

.btn-info {
  background-color: #17a2b8;
  color: #fff;
}

.btn-info:hover {
  background-color: #138496;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* Stil za listu poslova */
.profile-page ul {
  list-style-type: none;
  padding: 0;
}

.profile-page ul li {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fafafa;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-page ul li:hover {
  background-color: #f0f8ff;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.ReactModal__Content h3 {
  margin-top: 0;
  font-size: 20px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
  
.ReactModal__Content ul {
  list-style-type: none;
  padding: 0;
}

.ReactModal__Content ul li {
  padding: 5px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.ReactModal__Content button {
  margin-top: 20px;
  background-color: #007bff;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ReactModal__Content button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin-top: 20px;
  border-radius: 0 0 8px 8px;
}
